/* ****************** COLOUR ****************** */

$brand-primary: #3396FF;
$brand-primary-hover: darken( $brand-primary, 20% );
$brand-primary-dark: #051F54;
$brand-primary-light: #e8f2fd;

$white: #FFF;
$grey03: #F7F9FA;
$grey10: #E8EBED;
$greyWarn: #EFEBED;
$grey20: #CBCED1;
$grey40: #858B94;
$grey60: #4F545C;
$grey70: #383C45;
$grey80: #22262E;
$black: #151A24;

$red: #B8000C;
$green-light: #7ED321;
$green: #8dd03e;
$blue: #3396FF;

$error: $red;
/* ****************** TYPOGRAPHY ****************** */

$bodyFontFamily: 'Aventir', sans-serif;
$bodyFontSize: 16px;

/* ****************** DIMENSIONS ****************** */

$mediaQueryIpadLandscape: "only screen and (max-width : 1024px)";
$mediaQueryIpadPortrait: "only screen and (max-width : 768px)";

$contentMinHeight: 700px;

$pageWidthSmallest: 768px;

/* ****************** WRAPPER ****************** */

$o-wrapper-sizes: (
  page:   1400px,
  content:  1024px,
  wide:   682px,
  narrow: 342px,
);

@mixin wrapper($size: page) {
  //margin-right: auto;
  //margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  max-width: map-get($o-wrapper-sizes, $size);
}
